h1 {
    font-family: 'Rubik Bubbles';
    font-size: 2.5rem;
     color: white;
     padding: .3rem;
}
h2 {
    font-family: 'Rubik Bubbles';
    font-size: 1rem;
     color: white;
     padding: .5rem;
}
p {
    font-weight: 400;
    color: aliceblue;
}